.completeTask{
   height: 200px;
    margin: 0 auto;
}
.taskArea{
    width: 60%;
    border: 1px solid gray;
    height: 200px;
    margin: 2px;
}
.dateArea{
    width: 15%;
    border: 1px solid gray;
    height: 200px;
    margin: 2px;
}
.timeArea{
    width: 15%;
    border: 1px solid gray;
    height: 200px;
    margin: 2px;
}